!!! 5
%html
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
  <!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
  %head
    <meta charset="utf-8">
    %title= @title || 'Railsbridge NYC'
    <meta name="description" content="RailsBridge New York City Workshop for Women and their friends">
    <meta name="author" content="Erin Lee, RailsBridge NYC" />
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#{asset_path('touch/144x144.png')}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#{asset_path('touch/114x114.png')}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#{asset_path('touch/72x72.png')}">
    <link rel="apple-touch-icon-precomposed" href="#{asset_path('touch/57x57.png')}">
    = javascript_include_tag  "vendor/modernizr-2.6.2-respond-1.1.0.min"
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css'
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/nav'
    = yield
    = render 'layouts/footer'

    = javascript_include_tag  :application    
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')